<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <style>
      :root {
        --hero-bg-image: url("{{ '/photos/facade02.jpg' | relative_url }}");
      }
    </style>
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/icons/favicon.svg' | relative_url }}" />
    <link rel="alternate icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}" />
    <link rel="alternate icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-icon-180x180.png' | relative_url }}" />
    <link rel="manifest" href="{{ '/assets/icons/manifest.json' | relative_url }}" />
    {% seo %}
  </head>
  <body>
    <main class="page">
      {{ content }}
    </main>
    <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
    <footer class="footer">
      <div class="container">
        <p class="footer__brand">© {{ site.title }} — Casablanca, Maroc</p>
        <p class="footer__links">
          <a href="mailto:sicorep.imo@gmail.com" class="link">sicorep.imo@gmail.com</a>
        </p>
      </div>
    </footer>
  </body>
</html>
